
*{
    margin: 0;
    padding: 0;
}
.contenedor{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(4, auto );
}
.portada{
    background-image: url(../images/tour.png);
    width: 100%;
    height: 98%

}
.imagen{
    display: flex;
    justify-content: space-between;
    background-color: black !important;
    height: 15%;
    
}
.backNegro{
    background-color: black ;
    height: 100%;
    
}
.img{
  padding: 5px;
  height: 95%;
  width: 95%;


  
}
.flexible{
    display: flex;
    justify-content: space-between;
}
.inline {
    display: flex;
text-align:center;
font-family: bebas neue;
padding-left: 10px;
padding-right: 10px;
padding-top: 15px;
font-size:medium;


}
.inline a{
    color: white;
    
    
}
.home-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;

}
.home-nosotros-texto{
    width: 90%;
    text-align: center;
}
.home-nosotros-texto h2{
    font-family: poppins;
    font-weight: 600;
    font-size: 2rem;
}
.home-nosotros-texto p{
    font-size: 1rem;   
    font-family: poppins;
    padding-bottom: 90px;
}
.home-nosotros-imagen img{
    width: 85%;
    margin-left: 7%;
    border-radius: 10%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));

}
.ofrecemos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 3%;
}
.alinear{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
.textoPortada{
    font-family: Bebas Neue;
    text-align: center;
    color: bisque;
    font-size: 3.5rem;
    padding: 30% 20%; 
}
.tamañoH{
    border-radius: 10%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
    transition: 0.5s;
    width: 50%;
    height: 40%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%

}
.tamañoR{
    border-radius: 10%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
    transition: 0.5s;
    width: 50%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%

}
.tamañoS{
    border-radius: 10%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
    transition: 0.5s;
    width: 50%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%

}
article{
    margin: 0% 5%;
}
.boton a{
    width: 9rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 1000;
    background-color: black;
    padding: 0.4rem;
    border-radius: 0.3rem;
    transition: 0.5s;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 11%);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
    

footer{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

}

.footer-logo{
    justify-self: center;
    margin: 4rem 0rem 0rem 0rem;
    width: 50%;;

}

#footer-contact-us{
    justify-self: center;
}
#footer-contact-us p{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    text-align: left;
}
.instagram{
    height: 50px;
    width: 100px;
    text-align: left;
    padding-top: 20px;
    padding-left: 80px;
    text-align: center;
}
.facebook{
    height: 30px;
    width: 30px;
    text-align: right;
}

.portadaHab{
    background-image: url(../images/habitacion.png);
    width: 100%;
    height: 98%

}
.portadaServ{
    background-image: url(../images/servicios.png);
    width: 100%;
    height: 98%

}
.portadaReser{
    background-image: url(../images/reservas.png);
    width: 100%;
    height: 98%

}
.portadaGal{
    background-image: url(../images/flor.png);
    width: 100%;
    height: 98%

}
.portadaUb{
    background-image: url(../images/montaña.png);
    width: 100%;
    height: 98%

}
.portadaCont{
    background-image: url(../images/contacto.JPG);
    width: 100%;
    height: 98%

}
.contenedor-2{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(3, auto );
}

.containerr {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: 600px;
    grid-template-rows: 450px 450px 450px 450px;
    justify-content: center;
    background-color:#BABD8D ;
    }
    
    .containerr img{
    width: 100%;
    height: 100%;
}  
.containerHab{
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: 600px;
    grid-template-rows: 450px 450px ;
    justify-content: center;
    background-color:#BABD8D ;
    }
    .containerHab img{
        width: 100%;
        height: 100%;
    }  
    
    .Nuestros_servicios{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
    
    }
    .textserv{
        width: 90%;
        text-align: center;
    }
    .textserv h2{
        font-family: poppins;
        font-weight: 600;
        font-size: 2rem;
    }
    .textserv p{
        font-size: 1rem;   
        font-family: poppins;
        padding-bottom: 90px;
    }
    .Servimg img{
        width: 85%;
        margin-left: 7%;
        border-radius: 10%;
        filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
    }
    .Newfoot {
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-align: left;
        justify-self: center;

    }    
    .btn-black{
        background-color: #000;
        border: #000;
    }

        
    
    
    @media screen and (min-width:1200px){
        .portada{
            background-image: url(../images/tour.png);
            width: 100%;
            height:100rem;
        
        }
        .imagen{
            display: flex;
            justify-content: space-between;
            background-color: black !important;
            height: 25%;
        }
        .inline {
            display: flex;
        text-align: center;
        font-family: bebas neue;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        
        
        
        }
        .inline a{
            color: white;
            font-size: 45px;
            
        }
        .backNegro{
            background-color: black ;
            height: 2rem;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
        }
        .img{
            height: 350px;
            width: 350px;
          
        }
        
        .textoPortada{
            font-family: Bebas Neue;
            text-align:justify;
            color: bisque;
            font-size: 8rem;
            position: absolute;
            padding: 10% 25% ;
        }
        .home-nosotros{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 80%;
            padding: 20px;
        }
        .home-nosotros-texto{
            width: 50%;
            justify-items: center;
            margin: 8% 8% 5% ;
        }
        .home-nosotros-texto h2{
            font-family: poppins;
            font-weight: 600;
            font-size: 6rem;
        }
        .home-nosotros-texto p{
            font-size: 4rem;   
            font-family: poppins;
        }
        .home-nosotros-imagen img{
            margin-left: 0;
            vertical-align: middle;
            border-style: none;
            width: 80%;
            height: 80%;
         
        
        }
        .ofrecemos{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 2%;
          
        }
        .ofrecemos img{
            border-radius: 10%;
            filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
            margin-bottom: 10%;
            transition: 0.5s;
            height: 93%;
            width: 94%; 
            padding: 20px;
            border-radius: 10%;
            text-align: center;
        }
        .alinear{
            display: flex;
            flex-direction: row;
            margin: 5%;
            height: 80%;
            width: 90%;
        }
        .alinear article{
            width: 30%;
        }
        
        .boton a{
            width: 15rem;
            height: 5rem;
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            font-weight: 400;
            background-color: black;
            padding: 0.3rem;
            border-radius: 0.3rem;
            display: inline-block;
            transition: 0.5s;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 11%);
            position:initial;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-size: 2rem;
        }
        footer{
            background-color: white;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            padding-right: 30px;
        
        }
        .footer-logo{
            margin-top: 2.5rem;
            height: 500px;
            width:500px ;
            justify-self: flex-start;
        }
        
        .Newfoot{
            margin: 2rem 1.5rem;
            width: 30rem;
            justify-self: end;
        }
        .Newfoot p{
            color: black;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 3rem;
            text-align: center;
            padding-top: 30px;
        }
        .instagram{
            height: 150px;
            width: 150px;
            text-align: center;

        }
        .facebook{
            height: 150px;
            width: 150px;
            text-align: center;
        }
        .portadaGal{
          
            background-image: url(../images/flor.png);
            width: 100%;
            height:100rem ;  
        }
        
        .portadaUb{
          
            background-image: url(../images/montaña.png);
            width: 100%;
            height:100rem ; 
        }
        .portadaCont{
            background-image: url(../images/contacto.JPG);
            width: 100%;
            height:100rem ;
        }
        .conFuen{  height: 100%; 
            font-family: Poppins;
        }
        .formulario{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

        }
        .contact_form{  
            width: 80%; 
            height: 100%;
            margin: 80px auto;
            border-radius: 10px;  
            padding-top: 30px;
            padding-bottom: 20px;  
            background-color: #fbfbfb; 
            padding-left: 30px; 
          }
          .contact_form input{
            background-color: #fbfbfb; 
            width: 805px; 
            height: 90px; 
            border-radius: 5px;  
            border-style: solid; 
            border-width: 1px; 
            border-color: #65687d; 
            margin-top: 10px;  
            padding-left: 10px;
            margin-bottom: 20px; 
            padding-top: 15px;
            font-size: 35px;
            
          }
          .textoCont{
            background-color: #fbfbfb; 
            width: 805px; 
            height: 300px; 
            border-radius: 5px;  
            border-style: solid; 
            border-width: 1px; 
            border-color: #65687d;  
            margin-top: 10px;  
            padding-left: 10px;
            margin-bottom: 20px; 
            padding-top: 15px;
            font-size: 35px;
          }
          .Opciones{
            background-color: #fbfbfb; 
            width: 805px; 
            height: 90px; 
            border-radius: 5px;  
            border-style: solid; 
            border-width: #65687d; 
            margin-top: 10px;  
            padding-left: 10px;
            margin-bottom: 20px; 
            padding-top: 15px;
            font-size: 35px;
          }
          .contact_form label{
                display: block; 
                float: center;  
                font-size: 35px;
              
          }
          .contact_form button{
            height: 85px; 
            padding-left: 5px;
            padding-right: 5px;   
            margin-bottom: 20px; 
            margin-top: 10px;   
            text-transform: uppercase;
            background-color: #65687d; 
            border-color: #65687d; 
            border-style: solid; 
            border-radius: 10px;  
            width: 420px;   
            cursor: pointer;
          }
          .contact_form button p{
                color: white; 
          }
          .btn{
              font-size: 3rem;
          }
          .formulario h1{
            font-size: 80px;  
            text-align: letf; 
            padding-bottom: 20px; 
            color: #65687d;
            height: 80px;
          }
          .LetraForm{
            font-size: 30px; 
            padding-bottom: 30px;
            color: #0e0e0e; 
            text-align:center;
            height: 40px;
            
          }
        
        .portadaHab{
            background-image: url(../images/habitacion_2.png);
            width: 100%;
            height:100rem ;
        }
        .portadaServ{
            background-image: url(../images/servicios.png);
            width: 100%;
            height:100rem ;
        }
        .portadaReser{
            background-image: url(../images/reservas.png);
            width: 100%;
            height:100rem ;
        }
        .reserva{
            background-color: white;
            margin: 0;
            padding: 20px;
            width: 100%;
        }
        .containerr{
            background-repeat: repeat;
            background-size: 100%;
            width: 50%;
            margin: 0 auto;
            text-align: center;
            color: black;
            padding: 30px;
            box-shadow: 3px 3px 10px #000;
        }
        .reserva h2{
            font-family: Poppins , cursive;
            color: rgb(132, 69, 69);
            font-size: 200%;
            text-shadow: 3px 3px 2px #000;
        }
        .reserva form{
            background-color: white;
            text-align: left;
            padding: 20px;
            font-size: 1.3em;
        }
        .Nuestros_servicios{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 80%;
            padding: 20px;
        }
        .textserv{
            width: 50%;
            justify-items: center;
            margin: 8% 8% 5% ;
        }
        .textserv h2{
            font-family: poppins;
            font-weight: 600;
            font-size: 6rem;
        }
        .textserv p{
            font-size: 4rem;   
            font-family: poppins;
        }
        .Servimg img{
            margin-left: 0;
            vertical-align: middle;
            border-style: none;
            width: 80%;
            height: 80%;
        }
        .containerr {
            display: grid;
            padding: 8rem 60rem;
            grid-gap: 3rem;
            grid-template-columns: 1000px 1000px;
            grid-template-rows: 850px 850px ;
            justify-content: center;
            background-color:#BABD8D ;
            }
            
            .containerr img{
            width: 100%;
            height: 100%;
        }  
        .inline a:hover{
            background-image: linear-gradient(black,darkolivegreen);
            font-size: 60px;
            transition: all 1s;
        }
        .formreserv {
            width: 80%;
            height: 100%;
            margin: 80px auto;
            border-radius: 10px;
            padding-top: 30px;
            padding-bottom: 20px;
            background-color: #fbfbfb;
            padding-left: 30px;
    }
       .Galeriaboost{
           width: 100%;
           display: flex;
           justify-content: center;
          
       }
       .Galeriaboost-2{
        width: 50%;
        display: flex;
        justify-content: center;
       
    }
    .formreserv-2{
        display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }
    .form-label{
        font-size: 45px;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 50%;
        padding: 0.375rem 0.75rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;    
        }
        .form-select{
            height: 3em;
            font-size: 2.5rem;
        }
        .boton a:hover{
            background-color: #65687d;
            font-size: 60px;
            transition: all 1s;
            block-size: 250px ;
        }
       


        }
        
      

