
$back-color:(circuito:#63A375,desayuno:#A78682);

$colores-home:(text:#63A375, texto2:black, texto3:darkblue);

$Portadas-img:(Gale: url(../images/tour.png), ubi: url(../images/montaña.png), contacto: url(../images/contacto.JPG),habitacion: url(../images/habitacion_2.png), reserva: url(../images/reservas.png), servicios: url(../images/servicios.png) )